@model MVC_Bai5_KetNoiEF.Models.tbl_Deparment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailDept</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <fieldset>
                    <legend style="font-weight:bold;color:blue;">XEM CHI TIẾT PHÒNG BAN</legend>
                    <div class="display-field" >Mã Phòng: 
                        <span style="color:red;font-weight:bold;"> @Html.DisplayFor(model => model.DeptId) </span>
                    </div>
                    <div class="display-field" >Tên Phòng Ban: 
                        <span style="color:red;font-weight:bold;">@Html.DisplayFor(model => model.Name)</span>
                    </div>
                </fieldset>
                <span>
                    @Html.ActionLink("Back to List","ShowDeparment","Home")
                </span>
            </div>
        </div>
        
    </div>
</body>
</html>
